<!doctype HTML>
<html>
<head>
<title>Prueba 2</title>
</head>

<body>
	<h1>Segunda Prueba</h1>

	<p>
	Orderna el siguiente texto. Coloca el texto de forma que, se pueda leer de atrás hacia delante.
	<i>
	Ejemplo: burro --> orrub.
	</i>

	<p>
	"En un lugar de La Mancha de cuyo nombre no quiero acordarme, vivía un hidalgo"

	<p>
	Introduce el texto resultante en la siguiente casilla.

	<form action="/prueba2" method="POST">	
	<textarea col="20" row="5" name="result"  style="width:1000px; height:50px"></textarea>
	<p>
	<input type="submit" value="Contesta Ahora">

	{% if success %}
		<p>
		Segunda prueba superada. Para continuar pulsa
		<a href="/prueba3">aqui</a>
	{% elseif success !== undefined %}
		<p>
		Buen intento, esta vez no lo has conseguido, inténtalo otra vez!!!		
	{% endif %}

</body>
</html>